* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url(img/fondo2.jpg) no-repeat center center fixed;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}

.login {
	color: #ffffff;
	width: 60%;
	max-width: 360px;
	height: 270px;
	top: 50%;
	left: 50%;
	padding: 10px;
	position: absolute;
	transform: translate(-50%, -50%);
	background: #282f37;
}
.login .candado {
	width: 70px;
	height: 70px;
	position: absolute;
	top: -40px;
	left: calc(50% - 32px);
}
h1 {
	padding-top: 15px;
	padding-bottom: 16px;
	text-align: center;
}
.login label {
	padding: 13px;
	font-size: 18px;
}
.login input {
	border: none;
	height: 27px;
	margin-bottom: 10px;
}
.login input[type='password'],
.login input[type='email'] {
	background: #d9d9d9;
	margin: 10px;
	display: inline-block;
	width: 92%;
}
.login input[type='submit'] {
	width: 100%;
	background: #5b6e80;
	color: #ffffff;
	margin-top: 10px;
	cursor: pointer;
}
@media (min-width: 298px) and (max-width: 400px) {
	h1 {
		font-size: 30px;
	}
}
@media (min-width: 250px) and (max-width: 297px) {
	.login {
		width: 72%;
	}
	h1 {
		font-size: 28px;
	}
}
@media (min-width: 199px) and (max-width: 249px) {
	.login {
		width: 82%;
	}
	h1 {
		font-size: 27px;
	}
}
