<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="estilos.css")
        title iniciar sesion
    body
        .login
            img.candado(src="img/candado.png", alt="", srcset="")
            h1 inciar sesion 
            label(for="correo") correo:
            input(type="email", name="correo" placeholder="example@gmail.com" id="correo")
            label(for="contrase単a") contrase単a:
            input(type="password", name="contrase単a" placeholder="12345" id="contrase単a")
            input(type="submit", value="entrar" ) 