img {
	width: 100%;
	margin: 2rem 0;
}

/* estilos para cuando haya una opcion de resputa en la historia  */

.respuestas {
	max-width: 600px;
	margin: 1em auto 0 auto !important;
	color: white;
	border: solid 3px black;
	background-color: rgb(251, 90, 114);
	cursor: pointer;
	margin: 1rem 0;
}

#sala {
	background-color: #012c61;
	color: white;
	padding: 5rem 2rem 2rem 2rem;
}
#sala.activo {
	background-color: lightseagreen;
	transition: background-color 2s, color 2s;
}

/* ------------------------------------ Boton "dia noche"  -------------- */
.cambio {
	display: none;
	position: relative;
	border-radius: 1000px;
	border: none;
	margin-left: auto;
	cursor: pointer;
	outline: none;
	background-color: #33313e;
	color: white;
}
.cambio::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: unset;
	width: 30px;
	height: 30px;
	border-radius: 100px;
	background-color: white;
}
#cambio.activo {
	background-color: red;
}
.cambio.activo::after {
	left: unset;
	right: 0;
}
#cambio span {
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: block;
}
