* {
	margin: 0;
	padding: 0;
}
#contenedor_menu {
	background-color: #282f37;
	color: #ffffff;
	padding: 20px;
}
#menu {
	list-style: none;
	background-color: royalblue;
	display: none;
	translate: 1s;
}
#menu a {
	text-decoration: none;
}
#menu a li {
	color: #ffffff;
	line-height: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}
