* {
	margin: 0;
	padding: 0;
}
p {
	font-size: 20px;
}
header {
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	width: 100%;
}
section {
	text-align: center;
}
img {
	max-width: 600px;
	max-height: 900px;
}
footer {
	padding-top: 12rem;
	background-color: crimson;
}
.titulos {
	margin-bottom: 20px;
}
#boton_menu {
	margin-left: auto;
	font-size: 23px;
}
.icon-cancel-1 {
	color: red;
}
.icon-check {
	color: green;
}
#boton_left {
	margin-left: auto;
	font-size: 20px;
	display: none;
}
#contenedor_menu {
	display: flex;
	background-color: #282f37;
	color: #ffffff;
	padding: 20px 2rem;
}
#logos {
	padding-top: 0;
}
#menu {
	list-style: none;
	background-color: hsl(212, 40%, 20%);
	display: none;
}
#menu a {
	text-decoration: none;
	display: inline-block;
	color: #ffffff;
	line-height: 3;
	padding-left: 20px;
	width: 100%;
	cursor: pointer;
}
#menu a:hover {
	background-color: hsl(212, 40%, 25%);
	cursor: pointer;
}
#menu2 {
	list-style: none;
	background-color: hsl(212, 40%, 20%);
	display: none;
	transform: translate(4);
}
#menu2 a {
	text-decoration: none;
	display: inline-block;
	color: #ffffff;
	line-height: 3;
	padding-left: 20px;
	width: 100%;
}
#menu2 a:hover {
	background-color: hsl(212, 40%, 25%);
}
#inicio {
	height: auto;
	background-color: red;
	padding: 5rem 2rem 200px 2rem;
}
#Entrevista {
	height: 100%;
	background-color: limegreen;
	padding: 5rem 2rem;
}
#contenedor_Fderek {
	z-index: 5;
}
#Fderek {
	width: 100%;
}
#casa {
	display: none;
	background-color: #9ee2b3;
	height: 100%;
	padding: 5rem 2rem 2rem 2rem;
}
#casa > img {
	margin: 2rem auto;
	width: 100%;
}
#imagenes_tema1 {
	display: flex;
	margin-top: 30px;
	justify-content: center;
	align-items: center;
}
#llave {
	padding: 40px 0 0 30px;
	height: 40%;
	width: 40%;
	max-width: 130px;
	display: none;
}
#candado {
	height: 100%;
	width: 70%;
	max-width: 190px;
}
#Lugares {
	height: 100%;
	background-color: cadetblue;
	text-align: center;
	padding: 5rem 2rem 2rem;
}
#Sconocidos {
	height: 100%;
	background-color: crimson;
	text-align: center;
	padding: 5rem 2rem 0 2rem;
}
.Tpedro {
	display: inline;
}
#Bpedro {
	background-color: transparent;
	border: transparent;
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
	cursor: text;
}
#Bpedro:focus {
	outline: none;
}
#fotopedro {
	display: none;
	margin: 2rem auto;
	width: 100%;
}
#contenedor_llave {
	height: auto;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
#llave2 {
	height: 50px;
	display: none;
}
#escondido {
	height: auto;
	background-color: indigo;
	padding: 5rem 2rem 2rem 2rem;
	color: white;
}
#escondido img {
	margin: 1rem auto;
}
.escondido {
	display: none;
}
.escondido li {
	line-height: 2.5;
	height: 10px;
}
.imagenes_escondidas {
	width: 100%;
	display: block;
	margin: auto;
}
#Tescondido {
	display: none;
}
@media (min-width: 600px) {
	#boton_menu {
		display: none;
	}
	#menu {
		display: flex;
		position: absolute;
		right: 3rem;
		top: 10px;
		background-color: transparent;
	}
	#menu a {
		padding-left: 0px;
		margin: 0 0 0 20px;
		text-align: center;
	}

	#menu a:hover {
		border: 1px solid red;
	}
	#contenedor_Fderek {
		z-index: 5;
		width: 100vw;
		shape-outside: circle(38% at 60% 50%);
		clip-path: circle(38% at 60% 50%);
		max-width: 600px;
		float: right;
	}
	#Lugares {
		height: 100vh;
	}
	#Sconocidos {
		height: 100vh;
	}
}
@media (min-width: 800px) {
	#Entrevista {
		height: 100vh;
	}
}

/* estilos por si el navegador del usuario tiene un modo oscuro predefinido  */
/* para siguientes acutalizaciones */
/* @media (prefers-color-scheme: dark) {
	p {
		color: black;
	}
	.titulos {
		color: black;
	}
	#Bpedro {
		color: black;
	}
	.Tpedro {
		color: black;
	}
} */
